/* Part1.css */
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-20px); 
    }
  }
  
  .moving-image {
    animation: moveUpDown 2.25s ease-in-out infinite; 
  }

  @keyframes moveLeftRight {
    0%, 100% {
      transform: translateX(0); 
    }
    50% {
      transform: translateX(-20px);
    }
}
  
.moving-image-1{
  animation:  moveLeftRight 2.25s ease-in-out infinite;
}