/* Part1.css */
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-20px); 
    }
  }
  
  .moving-image {
    animation: moveUpDown 2.25s ease-in-out infinite; 
  }
  